/*--------------------------расскомментировать, остальное убрать------------------------*/
footer {
	flex: 0 0 auto;
	background-color: $darkGray;
	padding: 10px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #9c9c9c;
	font-size: 14px;
	font-weight: 300;
}

.footer__left {
	max-width: 50%;
}

.footer__right {
	max-width: 50%;
}