.header {
	padding: 10px 0 10px;   
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.header__wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	max-width: 50%; //предотвращаем наезжание при раздувании контента
}

.header__right {
	max-width: 50%; //тоже самое
}

.about-head {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.about-head__portr {
	flex: 0 0 auto; //делаем картинку несжимаемой при раздувании поля с именем
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid $lightGray;
}

.about-head__img {
	width: 100%;
}

.about-head__name {
	flex: 1 1 auto; //позволяем полю с именем занимать всё свободное место в влевой половине при необходимости
	margin-left: 20px;
	color: $darkGray;
	font-family: $fira;
	font-size: 18px;
	font-weight: 400;
}

.contacts {
	font-family: $fira;
	font-size: 18px;
	font-weight: 700;
	color: #33c1e3;
}

