/*-----------------------------layout----------------------------*/
$container-width: 940px;
$footer-height: 140px;

/*-----------------------------colors----------------------------*/
$blue: #33c1e3;
$red: #e85f61;
$lightGray: #f6f6f6;
$gray: #727272;
$darkGray: #414141;


/*-----------------------------fonts----------------------------*/
$fira:'Fira Sans', sans-serif;
$open: 'Open Sans', sans-serif;

$default-font: $fira;


/*-----------------------------screen resolutions----------------------------*/
$laptops: 1800px;
$tablets: 1200px;
$phones: 768px;

