header.header 
	.container
		.header__wrapper
			.header__left
				.about-head
					.about-head__portr
						img.about-head__img(src="assets/images/content/icon_hello_page.jpg", alt="Mikhail Omelko")
					.about-head__name Михаил Омелько 
			.header__right
				a.contacts Мои контакты 