aside.sidebar
	nav.navigation
		ul.navigation__list
			li.navigation__item
				a.navigation__link(href="index.html")
					i.demo-icon.icon-user-secret
					| Обо мне
			li.navigation__item
				a.navigation__link(href="career.html")
					i.demo-icon.icon-rocket
					| Карьерный путь
			li.navigation__item
				a.navigation__link(href="portfolio.html")
					i.demo-icon.icon-briefcase
					| Портфолио