.text {
	color: $gray;
	font-family: $fira;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
}

.headline {
	color: $darkGray;
	font-family: $fira;
	font-size: 35px;
	font-weight: 500;
	line-height: 45px;
}